.productscreen {
  max-width: 1300px;
  margin: 1rem auto;
}

.productscreen__left {
  display: flex;
  flex: 1;
}

.image {
  margin: 1rem;
  flex: 0.5;
}

.info {
  margin: 1rem;
  flex: 0.4;  
  color: #070707;
  font-size: medium;
  text-transform: uppercase;
}

.left__name {
  font-weight: bold;
  font-size: x-large;
}

.info > p,
.info__venta > p {
  padding: 1rem;
}

.info__venta {
  font-size: medium;
  display: flex;
  flex: 1;
}

.info__venta > p > button {
  border-style: none;
  padding: 10px 93px;
  font-family: Montserrat;
  font-weight: 450;
  background-color: #070707;
  color: #f3ede9;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.8;
}

.info__venta > p > button:hover {
  opacity: 1;
}

.hidden {
  visibility: hidden;
}

.info select {
  border-style: none;
  outline: none;
  padding: 10px 10px;
  font-family: Helvetica;
  background-color: #f3ede9;
  color: #070707;
}

.info select > option {
  border-style: none;
  outline: none;
  font-family: Helvetica;
  background-color: f3ede9;
  color: #070707;
}


.size__alert,.success__alert {
  width: 500px;
  height: 100px;
  position: relative;
  top: 70px;
  left: 1080px;
}


