.productscreen {
  max-width: 1300px;
  margin: 1rem auto;
  display: flex;
}

.productscreen__left {
  display: flex;
  flex: 1;
}

.image {
  margin: 1rem;
  flex: 0.5;
}

.info {
  margin: 1rem;
  flex: 0.4;
  color: #070707;
  font-size: small;
}

.left__name {
  font-weight: bold;
  font-size: x-large;
}

.info > p,
.info__venta > p {
  padding: 1rem;
}

.info__venta {
  font-size: medium;
  display: flex;
  flex: 1;
}

.info__venta > p > button {
  border-style: none;
  padding: 10px 93px;
  font-family: Montserrat;
  font-weight: 450;
  background-color: #303030;
  color: #f3ede9;
  cursor: pointer;
}

.info__venta > p > button:hover {
  background-color:black;
  color: #f3ede9;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.info select {
  border-style: none;
  outline: none;
  padding: 10px 10px;
  font-family: Helvetica;
  background-color: #f3ede9;
  color: #070707;
}

