.cartitem {
    width: 100%;
    padding: 1rem;
    margin-bottom: 8px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    gap: 8 px;
    place-items: center;
    border: 1px solid #070707;
  }
  
  .cartitem__name {
      text-decoration: none;
      color: #070707;
  }
  
  .cartitem__price {
      color: #070707;
  }
  
  .cartitem__deleteBtn {
      padding: 7px 12px;
      color: #f3ede9;
      background: #303030;
      border: 1px solid #303030;
      cursor: pointer;
  }
  
  .cartitem__deleteBtn:hover{
      background: #070707;
      border: 1px solid #070707;
  }
  
  @media (max-width: 700px){
      .cartitem__name {
          font-size: 0.8rem;
      }
  
      .cartitem__select,
      .cartitem__deleteBtn{
          padding: 4px 8px;
      }
  
      .cartitem__price {
          font-size: 0.8rem;
      }
  }
  
  @media (max-width: 500px){
      .cartitem__name {
          font-size: 0.6rem;
      }
  
      .cartitem__select,
      .cartitem__deleteBtn{
          padding: 1.5px 5px;
      }
  
      .cartitem__price {
          font-size: 0.6rem;
      }
  }