.product__link {
  text-decoration: none;
}

@media (max-width: 1232px) {
  .homescreen__products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 850px) {
  .homescreen__products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 610px) {
  .homescreen__products {
    grid-template-columns: 1fr;
  }
}


.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.hvrbox img {
	max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}

.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	color: #f3ede9;
	background: black;
	text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 0.6;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
