* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  font-size: medium;
  color: #f4f4f4;
  background-color: black;
  /*background-color: #0D0208;*/
}

img {
  width: 100%;
  object-fit: contain;
}