* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  font-size: medium;
  color: #070707;
  background-color: #f3ede9;
}

img {
  width: 100%;
  object-fit: contain;
}